@model WeirdosShop.Models.Cart_detail

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header align-items-center justify-content-between">
                <h4 class="mb-0">Chi tiết đơn hàng</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <!-- Mã đơn hàng -->
                    <div class="row mb-3">
                        @Html.Label("Mã đơn hàng", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Cart.id, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <!-- Tên khách hàng -->
                    <div class="row mb-3">
                        @Html.Label("Tên khách hàng", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Cart.namecus, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <!-- Email khách hàng -->
                    <div class="row mb-3">
                        @Html.Label("Email khách hàng", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Cart.emailcus, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <!-- Số điện thoại khách hàng -->
                    <div class="row mb-3">
                        @Html.Label("Số điện thoại khách hàng", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Cart.phonenum, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <!-- Địa chỉ giao hàng -->
                    <div class="row mb-3">
                        @Html.Label("Địa chỉ giao hàng", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Cart.addresscus, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <!-- Ảnh sản phẩm -->
                    <div class="row mb-3">
                        @Html.Label("Ảnh sản phẩm", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            <img src="~/Content/images/@Model.Product.Category.name/@Model.Product.img" width="100px" />
                        </div>
                    </div>

                    <!-- Số lượng -->
                    <div class="row mb-3">
                        @Html.Label("Số lượng", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <!-- Đơn giá -->
                    <div class="row mb-3">
                        @Html.Label("Đơn giá", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.unitprice, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <!-- Khuyến mãi -->
                    <div class="row mb-3">
                        @Html.Label("Khuyến mãi", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.sale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    
                    <!-- Ngày đặt đơn -->
                    <div class="row mb-3">
                        @Html.Label("Ngày đặt đơn", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Cart.datebegin, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <!-- Trạng thái đơn hàng -->
                    <div class="row mb-3">
                        @Html.Label("Trạng thái đơn hàng", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Nút lưu -->
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        <div class="col-sm-10 mt-2">
                            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
