@model IEnumerable<WeirdosShop.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}

<div class="card">
    <div class="d-flex justify-content-between">
        <h5 class="card-header">Quản lý categories</h5>
        <p class="card-header">
            <i class="bx bxs-plus-circle"></i> @Html.ActionLink("Tạo mới", "Create")
        </p>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Loại sản phẩm")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.link)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.meta)
                    </th>
                    <th>
                        @Html.DisplayName("Hiển thị")
                    </th>
                    <th>
                        @Html.DisplayName("Thứ tự")
                    </th>
                    <th>
                        @Html.DisplayName("Thời gian cập nhật")
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.link)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.meta)
                        </td>
                        <td>
                            @if (item.hide == true)
                            {
                                <p class="mb-0">Hiển thị</p>
                            }
                            else
                            {
                                <p class="mb-0">Ẩn</p>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.order)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.datebegin)
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <p class="dropdown-item">
                                        <i class="bx bx-edit-alt me-1"></i> @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.id })
                                    </p>
                                    <p class="dropdown-item">
                                        <i class="bx bx-detail me-1"></i> @Html.ActionLink("Chi tiết", "Details", new { id = item.id })
                                    </p>
                                    <p class="dropdown-item">
                                        <i class="bx bx-trash me-1"></i> @Html.ActionLink("Xóa", "Delete", new { id = item.id })
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>